<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>front</title>
  <link rel=stylesheet href="/stylesheets/wangEditor.min.css">
  <link href="/stylesheets/app.987b9b466035b62fc611a78a0f80685e.css" rel=stylesheet>
</head>
<body>
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/wangEditor.js"></script>
<div id=app></div>
<script type=text/javascript src="/javascript/manifest.ba9f70cea558ce1b0135.js"></script>
<script type=text/javascript src="/javascript/vendor.7ee37349a9afe0366c21.js"></script>
<script type=text/javascript src="/javascript/app.24798d6108a05e3596a2.js"></script>
</body>
</html>
