<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeWork</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<h1>WeWork</h1>
<div class="normal_window" id="logTpl">
    <form action="/login" method="post">
        <input type="text" class="input" name="userName" autocomplete="off" placeholder="用户名"><br>
        <input type="password" class="input" name="password" autocomplete="new-password" placeholder="密码"><a href="#forget" class="forget" id="forget">忘记密码?</a><br>
        <div class="noticeTpl" display="none"></div>
        <hr>
        <button type="submit" class="input" id="login">登陆</button>
    </form>
    <hr>
    <div class="newCount">
        还没有账号?<a href="#registrar" id="newCount">&nbsp;&nbsp;注册新账号</a>
    </div>
</div>

<div class="normal_window" id="registrarTpl" style="display: none">
    <form action="/registrar" method="post" enctype="multipart/form-data">
        <input type="text" class="input" name="userName" autocomplete="off" placeholder="用户名" required="required"><br>
        <input type="email" class="input" name="email" autocomplete="off" placeholder="邮箱" required="required"><br>
        <input type="tel" class="input" name="phone" autocomplete="off" placeholder="电话" required="required"><br>
        <input type="file" class="input" name="headPicture" autocomplete="off" required="required"><br>
        <input type="password" id="firstPd" class="input" name="password" autocomplete="new-password" placeholder="密码" required="required"><br>
        <input type="password" id="confirmPd" class="input" name="confirm" autocomplete="new-password" placeholder="确认密码" required="required"><br>
        <div class="noticeTpl" display="none"></div>
        <hr>
        <button type="submit" class="input" id="registrar">确认注册</button>
    </form>
</div>

<div class="normal_window" id="forgetTpl" style="display: none">
    <form action="/found" method="post">
        <input type="text" class="input" name="phone" autocomplete="off" placeholder="手机号" id="foundPhone" required="required"><br>
        <input type="text" class="input" name="code" autocomplete="off" placeholder="验证码" required="required"><a href="#getCode"  class="forget" id="getCode">获取验证码</a><br>
        <div class="noticeTpl" display="none"></div>
        <hr>
        <button type="submit" class="input" id="found">找回密码</button>
    </form>

</div>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/tool.js"></script>
<script src="/javascript/login.js"></script>
</body>
</html>