body {
    background-image: url('../images/bg.jpg');
    opacity: 0.8;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

.normal_window {
    background-color: white;
    margin: 20px auto;
    width: 400px;
    position: relative;
}

#logTpl, #forgetTpl {
    height: 480px;
}

#registrarTpl {
    height: 700px;
}

.input {
    margin: 20px 50px;
    width: 300px;
    height: 40px;
    font-size: 18px;
}
.input:nth-child(1){
    margin-top:80px;
}

.normal_window input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    padding-left: 10px;
}

.normal_window button[type=submit] {
    background-color: rgb(61, 168, 245);
    border: 1px solid #3DA8F5;
    color: white;
}

.forget {
    position: absolute;
    right: 50px;
    top: 176px;
    text-decoration: none;
    color: #3DA8F5;
    float: right;
    z-index: 5;
}

hr {
    margin: 30px 50px;
    width: 300px;
}

.newCount {
    margin: 30px 50px;
    width: 300px;
    color: rgb(200, 197, 194);
    text-align: center;
}

.newCount a {
    text-decoration: none;
    color: #3DA8F5;
}

.hideWindow {
    -webkit-transition: opicity 2s;
    -moz-transition: opicity 2s;
    -ms-transition: opicity 2s;
    -o-transition: opicity 2s;
    transition: opicity 2s;
}

@keyframes hideWindow {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes showWindow {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

.hideWindow {
    animation: hideWindow 2s;
}

.showWindow {
    animation: showWindow 2s;
}

.noticeTpl {
    position: absolute;
    display: none;
    left: 100px;
    bottom: 100px;
    width: 200px;
    height: 40px;
    color: #3DA8F5;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
